---
interface Props {
  en: string;
  title: string;
  lead?: string;
  center?: boolean;
}
const { en, title, lead, center = false } = Astro.props;
---

<div class:list={['sec-head', 'reveal', { 'sec-head--center': center }]}>
  <span class="en">{en}</span>
  <h2 set:html={title} />
  {lead && <p class="lead" set:html={lead} />}
</div>
